<link rel="import" href="../polymer/polymer.html">

<!--
`list-languages`


@demo demo/index.html
-->

<dom-module id="list-languages">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <template is="dom-repeat" items="{{rows}}">
      <div><b>Languages</b></div>
      <div>
        Descripción: <span>item.description</span>
        <br/>
        Código: <pre>item.code</pre>
        <br/>
        Lenguage: <span>item.language</span>
      </div>
      <hr/>
    </template>
  </template>

  <script>
    Polymer({

      is: 'list-languages',

      properties: {
        rows: {
          type: Array,
          value: [],
        },
      },
      ready: function(){
        /*this.rows = [
          {
          description: "this.description",
          code: "this.code",
          language: "this.language"
          }
        ]*/
      }
    });
  </script>
</dom-module>
